{% extends 'base.html' %}

{% block  titulo %}
<title>listar nacionalidad</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
{% endblock%}

{% block content %}<br>
	<h1>Nacionalidades</h1><br>
	{% for p in listar_nacionalidad.all %}
	<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">Nacionalidad</th>
		      <th scope="col">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th>{{ p.nombre_nacionalidad }}</th>
		      
		      <td>
		      	<a href="/ver_naci/{{ p.id }}" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver detalles </font></font></a>
				    {% if user.is_authenticated %}

					    <a href="/editar_naci/{{ p.id }}" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></a>

					    <a href="/eliminar_naci/{{ p.id }}" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eliminar</font></font></a>
		  			{% endif %}
		      </td>
		    </tr>
		    <tr>

			   			{% endfor %}
		  </tbody>
		</table>
		





	
	



	
	
{% endblock %}		
